:root{
--mail-color: #434455;
--backgraund: #FFFFFF;
--backgraund-bt: #4D5AE5;
}

body {
    color: var(--mail-color);
    background-color: var(--backgraund);
    font-family: Roboto, sans-serif;
}

.link {

text-decoration: none;
list-style: none;
    
}
.list {
    list-style: none;
}


.title-logo{
    text-decoration: none; 
    }
.header {
    
    }
.header-nav {
    list-style: none;
    text-decoration: none;
}
.header-logo {
    color: #4d5ae5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none; 
}
.header-logo-span {
    color:#2e2f42;
}
.header-list {}
    
.header-meniu-item {
    
}

.header-meniu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.header-meniu-link:hover,
.header-meniu-link:focus{
   color:#404bbf;
}

.address {
font-style: normal;
text-decoration: none;
}
.address-list {
}
.adress-meniu {
}
.adress-item-list {
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
color: var(--mail-color);

}
.solutions {
    background-color: #2e2f42;
}
.solutions-main {
    color: #ffffff ;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center; 
}
.solutions-btn {
background-color: var(--backgraund-bt);
color:var(--backgraund);
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}
.solutions-btn:hover{
    background-color: #404BBF;
}
.solutions-btn:focus{
    background-color: #404BBF;
}

.benefits {
    list-style: none; 
}
.benefits-header {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.benifits-header-text {
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.actions {
}
.actions-text {
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color:#2e2f42; 
}
.actions-text-list {
   
}
.actions-text-img {

}
.team {
    background-color: #F4F4FD;
}
.team-main {
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
}
.team-list {
}
.team-number {
}
.team-foto {
}
.team-names {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.team-title {
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer {
    background-color: #2e2f42;
}
.footer-link {
    color:#4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-span {
    color: #F4F4FD;
}
.footer-text {
    color:#F4F4FD;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.btn-apps-list {
    list-style: none;
}
.btn-apps-btn1 {
background:#F4F4FD ; 
color: #4d5ae5; 
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;

}
.btn-apps-btn1:hover,
.btn-apps-btn1:focus {
    color:var(--backgraund);
    background-color: #404BBF;
}


.btn-apps-btn {
background: #F4F4FD;
color: var(--backgraund-bt);
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}
.img {
}
.img-list {
    list-style: none;
    text-decoration: none;
}
.img-list-list {
}
.img-list-item {
}
.img-list-img {
}
.img-list-heard {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.2em;
}
.img-list-text {
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.2em;
}
